.container {
    text-align: center;
    background-color: white;
}

.imgTd {
    display: flex;
    justify-content: center;
}
.imagebox1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.imagebox1:hover {
    background-color: black;
    opacity: 80%;
    cursor: pointer;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

th, td {
    border: 1px solid #F0F0F0;
}

