.container {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
    top: 50%;
    left: 50%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #fefefe;
    width: 80%;
    transform: translate(-50%, -50%);
}

.modalContent > input {
    padding: 10px;
    margin: 15px 20px;
}

.add {
    color: #c7c6f1;
    font-size: 28px;
    font-weight: bold;
}
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}